#barra{
    background-color: #263FE3;
    width: 100%;
    height: 20px;
}
#barra2{
    background-color: white;
    width: 100%;
    height: 50px;    
}
#home {
    background-color: #263FE3;
    width: 100%;
    height: 625px;
    color: white;    
}
#animation{
    width: 100%;   
}
.box{
    padding: 60px 0;
    border-bottom: 2px solid #e5e5e5;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
  }
  .dark-blue-text {
    color: #263FE3;
  }
